{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p>Нейрон для классификации пола</p>
<form action="/neuron1" method="POST">
    <p><input type="text" class="form_text" name="height" placeholder="Введите рост (см)">
    <p><input name="weight" class="form_text" type="text" placeholder="Введите вес (кг)">
    <p><input name="size" class="form_text" type="text" placeholder="Введите размер"></p>
    <input type="submit" class="form_btn" value="Узнать пол">
    <h1>{{class_model}}</h1>
</form>
{% endblock %}
